{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/jsx-closing-bracket-location": 0,
    "consistent-return": 0,
    "arrow-body-style": 0,
    "react/jsx-indent": 0,
    // For babel-root-import
    "import/no-unresolved": [2, { "ignore": ["^[~]"] }]
  },
  "plugins": [
    "import"
  ]
}
