{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/jsx-closing-bracket-location": 0,
    "consistent-return": 0,
    "arrow-body-style": 0,
    "react/jsx-indent": 0,
    "no-bitwise": ["error", { "int32Hint": true }],

    // To work with babel-root-import
    "import/no-unresolved": [2, { "ignore": ["^[~]"] }],
    "import/extensions": [2, "never", {"css": "always", "scss": "always"}]
  }
}
